*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-position: top center;
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(tela.jpg);
    background-size: cover;
  
}
#header{
  width: auto;
  height: 100px;

  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  
}
#header img{
  width: auto;
  height:8em;
}
#header button{
  width: 80px;
  height:40px;
  background-color: #C11119;
  color: white;
  border-radius: 8%;
  justify-content: center;
  margin:auto 10px auto 0 ;
}
#main{
  width: auto;
  height: 400px;
  margin-top: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#main h1{
  color: #f1f1f1;
  font-size: 60px;
  box-shadow:
  -1em 0 0.4em black;
  margin-bottom: 30px;

}
#main h2{
  color: #f1f1f1;
  font-size: 30px;
  margin-bottom: 30px;
}
#main h3{
  color: #f1f1f1;
  font-size: 22px;
}
#main div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: auto;
  height: 100px;
}
#main input{
  width: 400px;
  height: 60px;
  border: solid 2px #2BB871;
  background-color: rgba(0, 0, 0, 0.2);
}
#main input::placeholder{
  color: rgb(170, 165, 165);
}
#main button{
  margin-left: 10px;
  width: 200px;
  height: 60px;
  background-color: #C11119;
  color: #f1f1f1;
  font-size: 30px;
}